# Created by .ignore support plugin (hsz.mobi)
### Java template

# User-specific stuff:
.idea

### Maven template
target/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
spring-pet-project.iml